section {
    text-align: left;
}

h1, h2, h3 {
    text-align: center;
}

.reveal pre code {
    overflow: visible;
}

.reveal pre {
    width: 100%;
    max-height: fit-content;
}
/*
section .title .reveal  {
    color: #990000;
}*/